

<html>

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='css/foundation.css')}}">
  <link rel="stylesheet" href="static/app.css">


<title>PostIt</title>


<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul>
  <li><a href="home">Home</a></li>
  <li><a href="profile">profile</a></li>
  <li><a href="posts">Post</a></li>
</ul>



  </nav>

</div>

</head>
<body>
 {% block body %}

 {% endblock %}
</body>


</html>
